.card-container {
    max-width: 60%;
    padding: 0 15px;
    margin: 0 10px;
}

.cards {
  display: flex;
  padding: 25px 0px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}